$color-dark-gray: #5f5f5f;
$color-light-gray: #bfbfbf;
$color-black: #343434;

.header{
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 1.5rem 0;
    margin-bottom: 2rem;

    &__icons{
        color: $color-dark-gray;
        &--mail{
            color: #C84A3E;
            font-size: 1.4rem;
            size: 1.4rem;
            margin-left: 1rem;
        }
        &--avatar{
            cursor: pointer;
        }
    }
    &__text{
        font-size: 1rem;
        color: $color-light-gray;
        margin-left: .25rem;
        font-weight: 600;
    }

    &__middle{
        height: 3rem;
        &--secondary{
            width: 100%;
        }
    }

    &__input{
        position: relative;
        border: none;
        width: 100%;
        padding: 0 10px;
        outline-width: 0;
        background-color: transparent;
        &::-webkit-input-placeholder{
            color: $color-light-gray;
        }
        &::-moz-placeholder{
            color: $color-light-gray;
        }
        &:-ms-input-placeholder{
            color: $color-light-gray;
        }
        &::-ms-input-placeholder{
            color: $color-light-gray;
        }
        &::placeholder{
            color: $color-light-gray;
        }
    }

    &__suggestions{
        position: absolute;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        max-height: 15rem;
        top: 8%;
        left: 55%;
        transform: translate(-50%);
        width: 50%;
        background-color:$color-light-gray;
        z-index: 999;
        border-radius: 5px;
        padding: 1.2rem;
        overflow-y: scroll;

        &--hide{
            display: none;
        }
    }

    &__left{
        display: flex;
        align-items: center;
    }

    &__middle{
        display: flex;
        align-items: center;
        flex: .7;
        background-color: rgba(245, 245, 245, 0.500);
        padding: 2.5px .5rem;
        border-radius: .5rem;
    }

    &__right{
        margin-right: 2.5rem;
    }

    &__link{
        display: inline-block;
        text-decoration: none;
        color: $color-dark-gray;
        padding: 5px 2.5px;
        border-bottom: 1px solid whitesmoke;

        &:hover{
            border-top: 1px solid whitesmoke;
            box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.24);
        }
    }

    &__subject{
        font-size: 14px;
        font-weight: 600;
    }

    &__body{
        font-size: 12px;
    }

    &__message{
        font-size: 14px;
        font-weight: 500;
    }
}

.sidebar{
    height: 2rem;
    width: 18.5rem;
    margin-right: 1rem;
    &__tags{
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 1rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        cursor: pointer;
        color: $color-light-gray;
        margin-bottom: 1.5px;
    }

    &__link{
        text-decoration: none;
    }

    &__tags:hover,
    &__tags:hover &__text,
    &__tags--active,
    &__tags--active &__text{
        background-color: #fcecec;
        color: #c04b37;
        font-weight: 800;
    }

    &__text{
        flex: 1;
        font-size: 1rem;
        margin-left: 1rem;
        font-weight: 400;
    }
}

.main{
    display: flex;
}

.emailList{
    display: flex;
    align-items: center;
    height: 3.5rem;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
    width: 100%;
    padding: 0 1.5rem;
    border-radius: 1rem;
    color: $color-dark-gray;
    font-size: 12px;
    text-transform: capitalize;

    &:hover{
        border-top: 1px solid whitesmoke;
        box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.24);
    }

    &__user{
        margin-right: 1rem;
    }

    &__tag{
        display: flex;
        align-items: center;
    }

    &__message{
        margin-left: .5rem;
        width: 800px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
    }
    &__subject{
        font-weight: 600;
    }
}

.emailDetail{
    color: $color-dark-gray;
    text-transform: capitalize;

    &__top, &__middle{
        margin: 10px 30px;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    &__subject{
        font-size: 16px;
        margin:0 1.8rem;
    }

    &__sender{
        margin-left: 1rem;
        font-size: 14px;
        font-weight: 600;
    }

    &__bottom{
        padding: 10px 60px;
        font-size: 16px;
    }
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}