.header {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}

.header__icons {
  color: #5f5f5f;
}

.header__icons--mail {
  color: #C84A3E;
  font-size: 1.4rem;
  size: 1.4rem;
  margin-left: 1rem;
}

.header__icons--avatar {
  cursor: pointer;
}

.header__text {
  font-size: 1rem;
  color: #bfbfbf;
  margin-left: .25rem;
  font-weight: 600;
}

.header__middle {
  height: 3rem;
}

.header__middle--secondary {
  width: 100%;
}

.header__input {
  position: relative;
  border: none;
  width: 100%;
  padding: 0 10px;
  outline-width: 0;
  background-color: transparent;
}

.header__input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.header__input:-ms-input-placeholder {
  color: #bfbfbf;
}

.header__input::-ms-input-placeholder {
  color: #bfbfbf;
}

.header__input::placeholder {
  color: #bfbfbf;
}

.header__suggestions {
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 15rem;
  top: 8%;
  left: 55%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 50%;
  background-color: #bfbfbf;
  z-index: 999;
  border-radius: 5px;
  padding: 1.2rem;
  overflow-y: scroll;
}

.header__suggestions--hide {
  display: none;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: .7;
      -ms-flex: .7;
          flex: .7;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 2.5px .5rem;
  border-radius: .5rem;
}

.header__right {
  margin-right: 2.5rem;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #5f5f5f;
  padding: 5px 2.5px;
  border-bottom: 1px solid whitesmoke;
}

.header__link:hover {
  border-top: 1px solid whitesmoke;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.header__subject {
  font-size: 14px;
  font-weight: 600;
}

.header__body {
  font-size: 12px;
}

.header__message {
  font-size: 14px;
  font-weight: 500;
}

.sidebar {
  height: 2rem;
  width: 18.5rem;
  margin-right: 1rem;
}

.sidebar__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 0 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  color: #bfbfbf;
  margin-bottom: 1.5px;
}

.sidebar__link {
  text-decoration: none;
}

.sidebar__tags:hover,
.sidebar__tags:hover .sidebar__text, .sidebar__tags--active,
.sidebar__tags--active .sidebar__text {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800;
}

.sidebar__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 400;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emailList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  z-index: 999;
  width: 100%;
  padding: 0 1.5rem;
  border-radius: 1rem;
  color: #5f5f5f;
  font-size: 12px;
  text-transform: capitalize;
}

.emailList:hover {
  border-top: 1px solid whitesmoke;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailList__user {
  margin-right: 1rem;
}

.emailList__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emailList__message {
  margin-left: .5rem;
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.emailList__subject {
  font-weight: 600;
}

.emailDetail {
  color: #5f5f5f;
  text-transform: capitalize;
}

.emailDetail__top, .emailDetail__middle {
  margin: 10px 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emailDetail__subject {
  font-size: 16px;
  margin: 0 1.8rem;
}

.emailDetail__sender {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 600;
}

.emailDetail__bottom {
  padding: 10px 60px;
  font-size: 16px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=App.css.map */